.navbar {
	width: 100%;
	height: 10vh;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
.main_weather{
	width: 100vw;
	height: 90vh;
	display: grid;
	place-items: center;
}

.container {
	width: 50vw;
	min-width: 320px;
	opacity: 0.5;
	border: 2px solid #3bb19b;	
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.search_box {
	display: grid;
	place-items: center;
	padding: 10px 0;
}

.search_box>input{
	padding: 20px 10px;
	font-size: 1rem;
	border-radius: 20px;
	/* border-color: #3bb19b;
	border: none; */
	background-color: #c6c6c6;
}

.top {
	display: grid;
	place-items: center;
	padding: 20px 10px;
}

p {
	font-weight: bold;
	color: #000;
	/* font-size: 5rem; */
	letter-spacing: 1px;
	padding: 0;
}

.name {
	font-size: 3rem;
}

.temp {
	font-size: 2rem;
}

.description {
	font-size: 4rem;
}

.bottom {
	top: 2 0%;
	display: flex;
	justify-content: space-between;
	padding: 20px 10px;
	font-size: 1.5rem;
}