*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.app{
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    background: url(./Assets/bgImg.jpg) no-repeat center center/cover;
    /* color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50vw;
    min-width: 320px;
    background: #c6c6c6;
    opacity: 0.5;
}

.search_box{
    display: grid;
    place-items: center;
    padding: 10px 0;  
}

.search_box > input, .search_box > button{
    padding: 20px 10px;    
    font-size: 1rem;
}

.top{
    display: grid;
    place-items: center;
    padding: 20px 10px;
}

p{
    font-weight: bold;
    color:#000;
    /* font-size: 5rem; */
    letter-spacing: 1px;
    padding: 0;
}

.name{
  font-size: 3rem;
}

.temp{
  font-size: 2rem;
}

.description{
  font-size: 4rem;
}

.bottom{
    top: 2 0%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    font-size: 1.5rem;    
}
